import Config

config :ecallmanager, osusername: "${username}"
config :ecallmanager, ospassword: "${password}"
config :ecallmanager, oshostname: "localhost"
config :ecallmanager, osdatabase: "opensips"

config :ecallmanager, fsusername: "${username}"
config :ecallmanager, fspassword: "${password}"
config :ecallmanager, fshostname: "localhost"
config :ecallmanager, fsdatabase: "freeswitch"

config :ecallmanager, accusername: "${username}"
config :ecallmanager, accpassword: "${password}"
config :ecallmanager, acchostname: "localhost"
config :ecallmanager, accdatabase: "account_data"
