import Config

config :ecallmanager, Ecallmanager.Routes,
  port: String.to_integer(System.get_env("PORT") || "3000")
config :ecallmanager, Ecallmanager.ESLServer,
  port: String.to_integer(System.get_env("PORT") || "8021")

  config :ecallmanager, osusername: "$CC_UNAME"
  config :ecallmanager, ospassword: "$CC_PASS"
  config :ecallmanager, oshostname: "localhost"
  config :ecallmanager, osdatabase: "opensips"

  config :ecallmanager, fsusername: "$CC_UNAME"
  config :ecallmanager, fspassword: "$CC_PASS"
  config :ecallmanager, fshostname: "localhost"
  config :ecallmanager, fsdatabase: "freeswitch"

  config :ecallmanager, accusername: "$CC_UNAME"
  config :ecallmanager, accpassword: "$CC_PASS"
  config :ecallmanager, acchostname: "localhost"
  config :ecallmanager, accdatabase: "account_data"

  call_mgt_adapter: Ecallmanager.Callmgm

#config :logger, level: :info, backends: [{ExSyslogger, :ex_syslogger}]

config :ecallmanager, redirect_url: System.get_env("REDIRECT_URL")
